importFrom(methods, setOldClass)
importFrom(methods, setClass)
importFrom(methods, setMethod)
importFrom(methods, setGeneric)
importFrom(rjags, jags.model)
importFrom(rjags, coda.samples)
importFrom(rjags, dic.samples)
importFrom(lme4, glmer)
importFrom(stats4, mle)
importFrom(stats4, AIC)
importFrom(MASS, mvrnorm)
importFrom(SuppDists, qinvGauss)
importFrom(SuppDists, rinvGauss)
importFrom(HyperbolicDist, gigChangePars)
importFrom(HyperbolicDist, qgig)
importFrom(HyperbolicDist, rgig)

importMethodsFrom(stats4)

export(ea_count)
export(ea_conc)
export(ea_presence)
export(bea_count)
export(bea_conc)
export(bea_presence)
export(drm)
export(bdrm)
export(avg_ea)
export(avg_drm)

exportClasses(ea)
exportClasses(bea)
exportClasses(drm)
exportClasses(bdrm)

exportMethods(show)
exportMethods(print)
exportMethods(summarize)
exportMethods(plot)
exportMethods(sim)
exportMethods(predict)
