import(methods, lme4, stats4, SuppDists, HyperbolicDist)
export(ea_count, ea_conc, ea_presence,
       bea_count, bea_conc, bea_presence)

exportClasses(ea, bea)
exportMethods(show, print, summarize, sim)